.ld-create >.ld-wrapper >.main-content >.left >.main-title{
    font-size: calc(var(--ld-font-size-base) + 32px);
    font-weight: 800;
    max-width: 415px;
    margin-bottom: 45px;
}

.ld-create >.ld-wrapper >.main-content >.left >.ld-button{
    margin-top: 40px;
}

.ld-create >.ld-wrapper >.main-content >.left{
    max-width: 368px;
    margin: auto;
    font-family: var(--ld-font-family-base);
}