.ld-input{
    font-size: calc( var(--ld-font-size-base) + 8px );
    border: none;
    background: none;
    border-bottom: 1px solid var(--ld-color-grey-light);
    outline: none;
    transition: border-color .5s;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 32px;
}

.ld-input:focus{
    border-color: var(--ld-color-primary);
}