.ld-table {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: white;
    padding-top: 28px;
}

/* HEAD */

.ld-table >.head {
    font-size: calc(var(--ld-font-size-base) + 6px);
    font-weight: 600;
    color: var(--ld-color-grey-light);
}

.ld-table >.head >.row {
    display: grid;
    grid-template-columns: 2fr 1fr 200px;
    padding-left: 32px;
    padding-right: 32px;
}

/* BODY */

.ld-table >.body {
}

.ld-table >.body >.row {
    display: grid;
    padding: 24px 32px;
    grid-template-columns: 2fr 1fr 200px;
    border-bottom: 1px solid var(--ld-color-grey-lighter);
}

.ld-table >.body >.row:last-child {
    border-bottom: none;
}

/* BODY - TITLE - DESCRIPTION */

.ld-table >.body >.row >.title-description{

}

.ld-table >.body >.row >.title-description >.title{
    font-weight: 600;
    margin-bottom: 8px;
}

.ld-table >.body >.row >.title-description >.description{
    
}

/* BODY - PRICE*/

.ld-table >.body >.row >.price{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/* BODY - ACTIONS*/

.ld-table >.body >.row >.actions{

}

.ld-table >.body >.row >.actions >.edit{
    color: var(--ld-color-primary);
    margin-right: 5px;
    cursor: pointer;
}

.ld-table >.body >.row >.actions >.delete{
    color: var(--ld-color-danger);
    cursor: pointer;
}
