.ld-wrapper{
    max-width: var(--ld-main-wrapper);
    margin: 0 auto;
}

.ld-wrapper >.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    padding-top: var(--ld-header-size);
}

.ld-wrapper >.main-content.-one-col{
    grid-template-columns: 1fr; 
}

.ld-wrapper >.main-content >.left{
    padding-top: 48px;
}

.ld-wrapper >.main-content >.right{
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.ld-wrapper >.main-content >.right >.image{
    position: absolute;
    height: 100%;
    min-width: 100%;
    top: 0;

    left: 50%;
    transform: translateX(-50%);
}